/AdvProgJavaChapter14/StringCompare/nbproject/private/
/AdvProgJavaChapter14/StringCompare/build/
/AdvProgJavaChapter14/StringsStartEnd/nbproject/private/
/AdvProgJavaChapter14/StringsStartEnd/build/
/AdvProgJavaChapter14/StringIndexMethods/nbproject/private/
/AdvProgJavaChapter14/StringIndexMethods/build/
/AdvProgJavaChapter16/CollectionTest/nbproject/private/
/AdvProgJavaChapter16/CollectionTest/build/
/Project04_CST242/nbproject/private/
/Project04_CST242/build/
/Project04_CST242/dist/
/AdvProgJavaChapter16/Sort1/nbproject/private/
/AdvProgJavaChapter16/Sort1/build/
/AdvProgJavaChapter16/Sort2/nbproject/private/
/AdvProgJavaChapter16/Sort2/build/
/AdvProgJavaChapter16/Time2/nbproject/private/
/AdvProgJavaChapter16/Time2/build/
/Project05_CST242/nbproject/private/
/Project05_CST242/build/
/Project05_CST242/dist/
/Project06_CST242/nbproject/private/
/Project06_CST242/build/
/Project06_CST242/dist/
/WordProcessing/nbproject/private/
/WordProcessing/build/
/WordProcessing/dist/
/Project07_CST242/nbproject/private/
/Project07_CST242/dist/
/Project07_CST242/build/