/AdvProgJavaChapter14/StringCompare/nbproject/private/
/AdvProgJavaChapter14/StringCompare/build/
/AdvProgJavaChapter14/StringsStartEnd/nbproject/private/
/AdvProgJavaChapter14/StringsStartEnd/build/
/AdvProgJavaChapter14/StringIndexMethods/nbproject/private/
/AdvProgJavaChapter14/StringIndexMethods/build/
/AdvProgJavaChapter16/CollectionTest/nbproject/private/
/AdvProgJavaChapter16/CollectionTest/build/
/Project04_CST242/nbproject/private/
/Project04_CST242/build/
/Project04_CST242/dist/